<section class="py-3 text-center container">
    <div class="row py-lg-0.5">
      <div class="card">
          <img src="https://www.pakutaso.com/shared/img/thumb/ELL75_yousyohondana20120620.jpg" class="card-img" style="height: 200px; width:100%;">
          <div class="card-img-overlay">
            <h1 class="fw-light text-white" style="background-color:rgb(0,0,0,0.63);">Memory Library</h1> 
          <form action="" method="get">
            <input type="search" value="{{ request.GET.query}}"
            name="query" type="text"
            placeholder="検索ワード">
            <button>検索</button>
            </div>
          </form>
      
      </div>
    </div>
  </section>